<html lang="en" ng-app="myApp">
    <head>
        <title>angular playlist</title>
        <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="app/app.js"></script>
    </head>
    <body>
        <header ng-include="'header.html'"></header>
        <div class="content">
        <div ng-controller="myCtrl">
            <button ng-click="order='name'">order by name</button>
            <button ng-click="order='age'">order by age</button>
            <input type="text" ng-model="search"> 
            <ul>
                <li ng-repeat="i in arr | orderBy : order| filter: search"   >
                    <h3>{{i.name}}-{{i.fees | currency}}</h3>
                <span>{{i.age}} age</span>
            </li>
            </ul>
        </div>
        </div>
    </body>
</html> 